#contacts.contacts
  .container
    section.contacts__wrapper
      h2.section-title(style='margin-bottom: 70px') контакты
      .contacts__content
        .contacts__btns.contacts__btns--adaptive
          a.btn.btn--upper.contacts__btn(href="https://yandex.ru/maps/org/vip_clinic/78452302793/?ll=30.254441%2C59.956134&z=16" target="_blank")
            | открыть Яндекс Карты
          a.btn.btn--upper.contacts__btn(href=links.yclients target="_blank")
            | записаться онлайн
        .contacts__map
          a(href="https://yandex.ru/maps/org/vip_clinic/78452302793/?ll=30.254441%2C59.956134&z=16" target="_blank")
            img(src="/images/maps/615-430.png" alt="")
        .contacts__map.contacts__map--adaptive
          a(href="https://yandex.ru/maps/org/vip_clinic/78452302793/?ll=30.254441%2C59.956134&z=16" target="_blank")
            img(src="/images/maps/400-300.png" alt="")
        .contacts__map.contacts__map--adaptive--2
          a(href="https://yandex.ru/maps/org/vip_clinic/78452302793/?ll=30.254441%2C59.956134&z=16" target="_blank")
            img(src="/images/maps/340-250.png" alt="")
        .contacts__text
          .contacts__logo
            a(href="/")
              img(src='./images/logo-276.png' alt='')
          .contacts__schedule
            p ПН-ВС
            p 10:00-22:00
          .contacts__address
            | г. Санкт-Петербург, ул. Уральская, 21
          .contacts__icons
            a.icon(href=links.social.phone target="_blank")
              img(src='./images/icons/icon-phone.svg' alt='')
            a.icon(href=links.social.wa target="_blank")
              img(src='./images/icons/icon-wa.svg' alt='')
            a.icon(href=links.social.tg target="_blank")
              img(src='./images/icons/icon-tg.svg' alt='')
          .contacts__btns
            a.btn.btn--upper.contacts__btn(href="https://yandex.ru/maps/org/vip_clinic/78452302793/?ll=30.254441%2C59.956134&z=16" target="_blank")
              | открыть Яндекс Карты
            a.btn.btn--upper.contacts__btn(href=links.yclients target="_blank")
              | записаться онлайн
