header.main-header
  .panel
    .left
      .logo
        a.logo__link(href="/") 
          img(src='./images/logo-151.png' alt='')
      a.btn.btn--low(href=links.yclients target="_blank") онлайн-запись
      a.btn.btn--low.btn--header(href="/price") прайс
    button.btn.btn--burger
      img(src='./images/icons/burger.png' alt='')
    button.btn.btn--close
      img(src='./images/icons/close.svg' alt='')
    .right
      nav.main-nav
        a.nav__item(href='/#services') услуги
        a.nav__item(href='/price') прайс
        a.nav__item(href='/#promotions') акции
        a.nav__item(href='/#contacts') контакты
      .icons
        a.icon(href=links.social.phone target="_blank")
          img(src='./images/icons/icon-phone.svg' alt='')
        a.icon(href=links.social.wa target="_blank")
          img(src='./images/icons/icon-wa.svg' alt='')
        a.icon(href=links.social.tg target="_blank")
          img(src='./images/icons/icon-tg.svg' alt='')
  .burger-panel
    nav.burger-nav
      a.nav__item(href='/#services') услуги
      a.nav__item.nav__item--adaptive(href='/price') прайс
      a.nav__item(href='/#promotions') акции
      a.nav__item(href='/#contacts') контакты
    .icons
      a.icon(href=links.social.phone target="_blank")
        img(src='./images/icons/icon-phone.svg' alt='')
      a.icon(href=links.social.wa target="_blank")
        img(src='./images/icons/icon-wa.svg' alt='')
      a.icon(href=links.social.tg target="_blank")
        img(src='./images/icons/icon-tg.svg' alt='')
