.services#services
  .container
    section.services__wrapper
      h2.section-title Наши услуги
      .servises__btns
        button.services__btn.selected(data-index='0') инъекционная косметология
        button.services__btn(data-index='1') эстетическая косметология
        button.services__btn(data-index='2') аппаратная косметология
        button.services__btn(data-index='3') все услуги

      section.services__list
        each collection in servicesDesktopStruct
          .services__list-inner(class=collection.collection == 0 ? 'show' : '', data-index=collection.collection)
            each line in collection.lines
              .line
                if (line.type == "double")
                  - const bigOrderStyle = 'order: ' + line.bigOrder;
                  .line__part(style=bigOrderStyle)
                    - const bigCell = servicesShortInfo.shortInfo.filter((el) => el.id == line.cells.big)[0];
                    - const bigCellBg = 'background-image: url(' + line.bigBgUrl + ')';
                    .item.item--big(style=bigCellBg)
                      h3.item__title #{bigCell.name}
                      p.item__text #{bigCell.descryption}
                      a(class="btn item__btn", href=bigCell.url) узнать больше
                .line__part
                  each cell in ["0", "1", "2", "3"]
                    - const cellInfo = servicesShortInfo.shortInfo.filter((el) => el.id == line.cells[cell]);
                    if (cellInfo.length > 0)
                      .item
                        h3.item__title #{cellInfo[0].name}
                        p.item__text #{cellInfo[0].descryption}
                        a(class="btn item__btn", href=cellInfo[0].url) узнать больше
                    else
                      .item.item--empty
                      
      section.services__list.services__list--adaptive
        each collection in servicesMobileStruct
          .services__list-inner(class=collection.collection == 0 ? 'show' : '', data-index=`a${collection.collection}`)
            each item in collection.items 
              if (item.type == "default")
                - const itemInfo = servicesShortInfo.shortInfo.filter((service) => service.id == item.id)[0];
                .item
                  h3.item__title #{itemInfo.name}
                  p.item__text #{itemInfo.descryption}
                  a(class="btn item__btn", href=itemInfo.url) узнать больше
              else if (item.type == "photo")
                .item.item--photo
                  img(src=item.url)
                

      .person__btn-wrapper
        a.btn.btn--upper.services__main-btn(href=links.yclients target="_blank") Записаться онлайн
