.team
  .container
    section.team__wrapper
      h2.section-title Наша команда
      ul.team__list.slider-list
        each item in teamList
          li.team__item
            .item__img
              img(src=item.photo)
            .item__name
              p #{item.content.firstname}
              p #{item.content.secondname}
            .item__prof
              p #{item.content.profession}
            .item__btn-cont
              if item.hidePage === true
                a(class="btn item__btn team-btn" href="https://wa.me/79111070700" target="_blank") связаться
              else
                a(class="btn item__btn team-btn" href=item.urlBtn target="_blank") узнать больше
                a(class="btn item__btn team-btn" href=item.yclientsLink target="_blank") записаться
      .slider-container
