doctype html
html(lang="ru")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name="descryption" content=description)
    meta(name="keywords" content=keywords)
    meta(name="robots" content="all")
    meta(property="og:type" content="website")
    meta(property="og:url" content=url)
    meta(property="og:image" content="https://vipclinicspb.ru/images/logo-276.png")
    meta(property="og:title" content=title)
    meta(property="og:description" content=description)
    title VIP CLINIC - #{title}
    link(rel="icon", type="image/png", sizes="32x32", href="/images/favicons/32.png")
    link(rel="apple-touch-icon", sizes="180x180", href="images/favicons/180.png")
    link(rel="shortcut icon" href="/images/favicons/icon.ico")
    link(rel='stylesheet' href='./css/style.css')
    link(rel='stylesheet' href='./css/adaptive.css')
    link(rel='stylesheet' href='./css/fonts.css')
    link(rel='stylesheet' href='./css/person.css')
    link(rel='stylesheet' href='./css/slider.css')
  body
    include modules/header.pug

    if id == "p01"
      include persons/p01.pug
      include modules/beforeAfter.pug
    if id == "p02"
      include persons/p02.pug
    
    .person__btn-wrapper
      button.btn.btn--upper записаться онлайн
      
    include modules/footer.pug
    
    script(src='./js/burger.js')
    script(src='./js/slider.js')