doctype html
html(lang="ru")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name="descryption" content=service.description)
    meta(name="keywords" content=service.keywords)
    meta(name="robots" content="none")
    meta(property="og:type" content="website")
    meta(property="og:url" content=service.url)
    meta(property="og:image" content="https://vipclinicspb.ru/images/logo-276.png")
    meta(property="og:title" content=service.title)
    meta(property="og:description" content=service.description)
    title VIP CLINIC - #{service.title}
    link(rel="icon" type="image/png" sizes="32x32" href="/images/favicons/32.png")
    link(rel="apple-touch-icon" sizes="180x180" href="images/favicons/180.png")
    link(rel="shortcut icon" href="/images/favicons/icon.ico")
    link(rel='stylesheet' href='./css/style.css')
    link(rel='stylesheet' href='./css/adaptive.css')
    link(rel='stylesheet' href='./css/fonts.css')
    link(rel='stylesheet' href='./css/service-page.css')
  body
    include modules/header.pug

    .service-page 
      .container
        .service-page__wrapper
          section.service-page__section
            h1.service-page__title.adaptive !{service.content.preName}
            .service-page__line.adaptive
            - const firstBg = 'background-image: url(' + service.images.desktop.first + ')';
            .service-page__photo(style=firstBg)
            - const mobileFirstBg = 'background-image: url(' + service.images.mobile.first + ')';
            .service-page__photo.service-page__photo--adaptive(style=mobileFirstBg)
            .service-page__main-content
              h1.service-page__title !{service.content.preName}
              .service-page__line 
              ul.service-page__features
                each statItem in service.content.stats
                  li.features__item 
                    .features__image
                      img(src=statItem.imgUrl)
                    .features__content 
                      h3.feautures__title #{statItem.title}
                      p.feautures__text #{statItem.value}
          section.service-page__section.bg
            - const secondBg = 'background-image: url(' + service.images.desktop.second + ')';
            .service-page__photo(style=secondBg)
            .service-page__text-content 
              each textItem in service.content.textPlace 
                p.service-page__text-item !{textItem.text}
              if (service.content.noneLast == true)
                p.service-page__text-item.small * Перед проведением процедуры необходима консультация врача.
          - const mobileSecondBg = 'background-image: url(' + service.images.mobile.second + ')';
          .service-page__photo.service-page__photo--adaptive(style=mobileSecondBg)
          section.service-page__section
            - const thirdBg = 'background-image: url(' + service.images.desktop.third + ')';
            .service-page__photo(style=thirdBg)
            .service-page__price-content
              if (service.content.pricePlace.type == "only")
                ul.service-page__price-list
                  each priceItem in service.content.pricePlace.value
                    li.service-page__price-item 
                      h3.price-item__title #{priceItem.title}
                      p.price-item__def #{priceItem.description}
                      each pricesStr in priceItem.prices
                        p.price-item__bottom 
                          span.time !{pricesStr.time}
                          span.time !{pricesStr.volume}
                          spam.value !{pricesStr.price}
                  if (service.content.pricePlace.value.length % 2 == 1)
                    li.service-page__price-item.empty
              if (service.content.pricePlace.type == "multi")
                ul.service-page__nav-list
                  - var counter = 0;
                  each navItem in service.content.pricePlace.value
                    li.service-page__nav-item 
                      button(class=counter == 0 ? 'selected' : '', data-type=counter++) #{navItem.title}
                - var counter = 0;
                each list in service.content.pricePlace.value
                  ul(class=counter == 0 ? 'service-page__price-list show bg' : 'service-page__price-list bg', data-type=counter++)
                    each listItem in list.items 
                      li.service-page__price-item 
                        h3.price-item__title #{listItem.title}
                        p.price-item__def #{listItem.description}
                        each pricesStr in listItem.prices
                          p.price-item__bottom 
                            span.time !{pricesStr.time}
                            span.time !{pricesStr.volume}
                            spam.value !{pricesStr.price}
                    if (list.items.length % 2 == 1)
                      li.service-page__price-item.empty

          section.service-page__bottom 
            a.btn.btn--upper(href=links.yclients target="_blank") Записаться онлайн

    include modules/footer.pug

    script(src='./js/burger.js')
    script(src='./js/servicePage.js')