doctype html
html(lang="ru")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name="robots" content="none")
    title VIP CLINIC - Управление/Услуги
    link(rel='stylesheet' href='/css/admin/tabs.css')
    link(rel="stylesheet" href="/css/admin/fonts.css")
    script
  body 
    .tab 
      .tab__content
          button.add-new Добавить фотографию
          ul.default__list
            each item in beforeAfter
              li.default__item 
                .block-info
                  img.img(src=item.url)
                  p.name #{item.text}
                ul.inlist 
                  if (item.persons.indexOf("main") != -1)
                    li.inlist__item(data-id="main") Главная страница
                  each personID in item.persons
                    if (personID != "main")
                      li.inlist__item(data-id=personID) #{persons.filter((person) => person.id == personID)[0].title}
                .default__item-control 
                  button.btn.edit Редактировать
                  button.btn.delete Удалить
      .tab-modal 
        .tab-modal__window 
          .tab-modal__content
            .modal__img
              img(src="")
              button.modal__img-btn Изменить 
            .title 
              input(type="text")
            ul.modal__list
              li.modal__item(data-id="main")
                input(type="checkbox")
                p.title Главная страница
              each person in persons
                li.modal__item(data-id=person.id)
                  input(type="checkbox")
                  p.title #{person.title}
            .modal__control 
              button.save Сохранить
              button.back Отменить
    script(src="/js/admin/tabs/beforeAfter.js")


            

